@font-face {
   font-family: "Be Vietnam Pro SemiBold";
   src: url("fonts/Be Vietnam Pro SemiBold.woff2") format("woff2");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Be Vietnam Pro SemiBold";
   src: url("fonts/Be Vietnam Pro SemiBold Italic.woff2") format("woff2");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Be Vietnam Pro Medium";
   src: url("fonts/Be Vietnam Pro Medium Italic.woff2") format("woff2");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Be Vietnam Pro Medium";
   src: url("fonts/Be Vietnam Pro Medium.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "SVN-HC Just Old Fashion";
   src: url("fonts/SVN-HC-JustOldFashion.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Cambria Math";
   src: url("fonts/Cambria Math.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "TH-HC 1785 GLC Baskerville";
   src: url("fonts/TH-HC 1785 GLC Baskerville.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}